.layout {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--inner-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow: hidden;
}

.lowKey {
  filter: grayscale(99%);
  --increase-color: #111;
  --reduce-color: #111;
}
