.content {
  background-color: var(--top-background-color);
  width: 100%;
}

.bar {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-size: 1rem;
  height: 100%;
  align-items: center;
}

.btn {
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display:table;
  cursor: pointer;
  span {
    display:table-cell;
    vertical-align:middle;
  }
}
.star {
  span {
    svg {
      width: 1.1em;
      height: 1.1em;
    }
  }
}
.enable {
  cursor: pointer;
  svg {
    fill: var(--main-text-color);
  }
  &:hover {
    svg {
      fill: var(--primary-color);
    }
  }
}
.disable {
  svg {
    fill: var(--disabled-color);
  }
}

.address {
  flex-grow: 1;
}

.sort {
  cursor: pointer;
  display: flex;
  justify-content: center;

  div {
    height: 12px;
  }

  svg {
    fill: var(--main-text-color);
  }

}
