.content {
  background-color: var(--background-color);
  box-sizing: border-box;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  background-color: var(--top-background-color);
  top: 0;
  padding: 2px 8px;
  box-sizing: border-box;
  z-index: 3;

  // box-shadow: 0 20px 20px rgba(0, 0, 0, .1);

  h3 {
    color: var(--main-text-color);
    font-size: 15px;
  }

  .close {
    font-size: 12px;
    color: var(--cancel-text-color);
    background-color: var(--top-background-color);
    margin-left: -8px;
  }

  .add {
    font-size: 12px;
    color: var(--primary-color);
    background-color: var(--top-background-color);
  }
}

.body {
  display: block;
}
