.row {
  /* dispaly: flex; */
  width: 100%;
  padding: 8px 8px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--main-text-color);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    .arrow {
      svg {
        fill: var(--main-text-color);
      }
    }
    .value {
      fill: brightness(115%);
    }
  }
}
.zindexName {
  font-weight: 600;
  font-size: calc(14rem / var(--base-font-size));
  margin-bottom: 2px;
}
.code {
  font-size: calc(10rem / var(--base-font-size));
  margin-right: 5px;
}
.rowBar {
  font-size: calc(10rem / var(--base-font-size));
  display: flex;
  align-items: center;
}
.value {
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  text-align: center;
  transition: all 0.3s;
}
.zx {
  height: 24px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.zd {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  .zdd,
  .zdf {
    font-size: calc(10rem / var(--base-font-size));
  }
  .zdf {
    margin-left: 10px;
  }
}
.arrow {
  margin-right: 5px;
  svg {
    cursor: pointer;
    fill: var(--svg-icon-color);
  }
}
.collapseContent {
  display: flex;
  padding: 5px 3px;
  flex-wrap: wrap;
  font-size: calc(10rem / var(--base-font-size));
  color: var(--inner-text-color);
  background-color: var(--inner-color);
  word-wrap: break-word;

  section {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
.view {
  padding: 5px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
