.container {
  height: calc(100% - 30px);
  overflow-y: scroll;
  padding-top: 5px;
  background-color: var(--background-color);

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.leading {
  background-color: var(--background-color);
  display: flex;
  flex-grow: 1;
  padding: 10px;
  color: var(--hint-color);

  .data {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 10px;
    text-align: right;
  }
}

.coretheme {
  background-color: var(--background-color);
  height: calc(100% - 80px);
  display: flex;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 10px;

  div {
    .wrapper {
      margin-bottom: 5px;
      padding-bottom: 5px;
    }

    .header {
      margin-top: 10px;
    }

    .row {
      line-height: 1.5rem;
      text-align: left;

      strong {
        color: var(--hint-color);
      }
    }
  }

  .data {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 10px;

    .row {
      text-align: right;
    }
  }
}

.themeWrapper {
  height: calc(100% - 40px);
  overflow-y: auto;
  background-color: var(--background-color);
  padding-bottom: 10px;
}

.themetabs {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  .tab {
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    text-align: center;
    border: 2px solid rgba($color: #000000, $alpha: 0.0);

    &.active {
      border-color: var(--hint-color);
    }
  }
}

.themedetail {
  padding: 0 10px;

  .title {
    font-weight: 500;
    margin: 5px 0;
    color: var(--hint-color);
  }

  .detail {}

  .wrapper {
    display: flex;
    flex-wrap: wrap;

    .stock {
      border-radius: 5px;
      margin: 5px;
      padding: 5px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.coretrade {
  height: calc(100% - 45px);

  .cardcontent {
    margin-top: 5px;
    background-color: var(--background-color);
    overflow-y: auto;
    height: 100%;

    .blocktrade {
      padding: 10px;
      border-bottom: 1px solid var(--main-border-color)
    }
  }

  .lhb {
    padding: 4px 16px;
    background-color: var(--background-color);
    color: var(--main-text-color);
    border: 1px solid var(--main-border-color)
  }

  .gdzj {
    padding: 10px;
    line-height: 1.8;
  }

  .ggzj {
    padding: 10px;
    width: 100%;
  }

  .gqzy {
    padding: 10px;
    width: 100%;
  }
  .loadmore {
    padding: 5 10px;
    font-size: 12px;
    text-align: center;
    color: var(--textColor);
    cursor: pointer;
  }
}

.holdernumWrapper {
  padding: 10px;
  height: calc(100% - 40px);
  overflow-y: auto;
  background-color: var(--background-color);

  .holdernumtable {
    margin-top: 10px;
  }
}

.rowheader {
  color: var(--secondary-text-color);
}

.rowdata {
  display: flex;
  justify-content: space-evenly;

  div {
    text-align: right;
  }
}

.eventWrapper {
  padding: 10px;
  padding-top: 20px;
  height: calc(100% - 40px);
  overflow-y: auto;
  background-color: var(--background-color);

  .eventTitle {
    font-weight: bold;
  }

  .eventBrief {
    margin-top: 0px;
  }
}

.commonWrapper {
  padding: 10px;
  height: calc(100% - 40px);
  overflow-y: auto;
  background-color: var(--background-color);
}

.statics {
  display: flex !important;
  justify-content: space-between;
  padding-right: 30px;
}

.staticsrow {
  margin-bottom: 5px;
}

.staticsheader {
  margin-bottom: 5px;
}

.table {
  overflow-y: auto;
  background-color: var(--background-color);
  height: calc(100% - 70px);
}

.moreheader {
  height: calc(100% - 110px) !important;
}