.container {
  width: 100%;
  height: 100%;

  webview {
    height: 100% !important;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-corner {
      background: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color);
      border: 1px solid var(--scrollbar-border-color);
      background-clip: content-box;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--background-color)
    }
  }
}