.container {
  padding-top: 5px;
  height: 100%;
  background-color: var(--top-background-color);
  padding-bottom: 10px;

  .content {
    background-color: var(--background-color);
    height: 100%;
  }
}