.container {
  display: flex;
  height: 100%;
}
.form {
  flex: 0 0 300px;
  border-right: 2px solid var(--nav-background-color);
  padding: 10px 5px;
  height: calc(100% - 45px);
  overflow-y: scroll;
}
.list {
  flex: 1;
  height: calc(100% - 45px);
  overflow-y: scroll;
  padding: 10px 5px;
}
.leading {
  font-weight: bold;
  display: flex;
  color: var(--hint-color);
  justify-content: space-between;
}
.hint {
  color: var(--hint-color);
  background-color: rgba($color: #000000, $alpha: 0.1);
  padding: 3px;
}
.chara {
  border: 1px solid var(--hint-color);
  color: var(--warn-color);
  padding: 5px 10px;
  margin-bottom: 10px;
}