@import '~braft-editor/dist/index.css';

.bf-controlbar .control-item.button {
  color: var(--main-text-color);
}

.bf-content {
  height: calc(100% - 140px);
}

.bf-content .bf-hr:before {
  background-color: #FF9933
}