.container {
  height: calc(100%);
  overflow-y: scroll;
  padding: 10px;
  background-color: var(--background-color);
  color: var(--main-text-color);
}
.seperator {
  height: 5px;
  background-color: var(--top-background-color);
}
.a {
  flex: 1 1 33.33%;
  text-align: left;
}
.b {
  text-align: center;
  flex: 1 1 25%;
}
.c {
  text-align: right;
  flex: 1 1 33.33%;
}
.row {
  display: flex;
  align-items: center;
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  color: var(--hint-color);
}
.act {
  color: var(--warn-color) !important;
  &:hover {
    color: var(--main-text-color);
  }
}
