.content {
  background-color: var(--background-color);
  padding: var(--base-padding);
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
.name {
  font-size: calc(10rem / var(--base-font-size));
}
.autoSize {
  height: auto;
}
.toolbar {
  display: flex;
  padding-bottom: var(--base-padding);
  align-items: center;
  padding: 10px;
  justify-content: space-between;

  svg {
    width: 15px;
    height: 15px;
    // margin-left: 15px;
    cursor: pointer;
    fill: var(--main-text-color);

    .on {
      fill: var(--primary-color);
    }
  }
}
.echart {
  height: 160px;
}
.hidden {
  display: none;
}