.content {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.echart {
  height: 100%;
}

.table {
  margin-top: 15px;
  height: calc(100%);
  overflow-y: auto;
  border-top: 5px solid var(--top-background-color);
}

.monitor {
  margin-top: 15px;
  border-top: 5px solid var(--top-background-color);
  border-left: 5px solid var(--top-background-color);
  height: calc(100% - 50px);
}

.btn {
  color: var(--primary-text-color);
  border: 0 !important;
  padding: 0 !important;

  span {
    color: var(--primary-text-color);

    svg {
      margin-left: 5px;
    }
  }
}