.content {
  padding-left: 20px;
  border-top: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  background-color: var(--background-color);
  transition: transform .1s;
  position: absolute;
  width: 210px;
  bottom: 0;
  z-index: 0;
  transform: translateY(0);
  box-sizing: border-box;
  margin-left: -10px;
  // box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
  // background-color: var(--blur-color);
  // backdrop-filter: saturate(180%) blur(20px);
}

.visible {
  transform: translateY(0);
}

.bar {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-size: 0.8rem;
  height: 100%;
  align-items: center;
}

.arrow {
  margin-right: 5px;
  cursor: pointer;

  svg {
    height: 12px;
    width: 12px;
    fill: var(--main-text-color)
  }
}

.name {
  position: relative;
  cursor: pointer;
  flex: 1;
  transition: opacity .2s;

  &:hover {
    opacity: .8;
  }
}

.mode {
  text-align: right;
  padding-right: 10px;
}

.sort {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    height: 8px;
  }

  svg {
    opacity: .5;
    fill: var(--main-text-color);

    &:nth-child(1) {
      transform: translateY(4px);
    }

    &:nth-child(2) {
      transform: translateY(-4px);
    }
  }

}

.selectOrder {
  opacity: 1 !important;
}
