.container {
  height: 100%;
}
.table {
    margin-bottom: 15px;
    height: calc(100% - 34px);
    overflow-y: auto;
  }
  .header {
    line-height: 2.5;
    background-color: var(--nav-background-color);
    padding: 0 15px;
  }
  .row {
    line-height: 2;
    padding: 0 10px;
    border-bottom: 1px solid var(--main-border-color);
  }