.container {
  background-color: var(--top-background-color);
  height: calc(100vh);
}
.panel {
  height: 100%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: var(--background-color);
    
    .header {
        padding: 0 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--top-background-color);
    }
    .title {
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--hint-color);
        display: flex;
        justify-content: space-between;
        button {
          color: var(--secondary-text-color);
        }
    }
    .extra {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
    }
    .content {
        height: calc(100% - 30px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}
.bankuai {
  border-bottom: 1px solid var(--top-background-color);
}
.toggleFull {
  position: absolute !important;
  right: 10px;
  z-index: 1;
  margin-top: 5px;

  svg {
    width: 15px;
    height: 15px;
    // margin-left: 15px;
    cursor: pointer;
    fill: var(--main-text-color);

    .on {
      fill: var(--primary-color);
    }
  }
}