.container {
  padding: 0 var(--base-padding);
  margin-right: 5px;
  height: 100%;
  background-color: var(--background-color);
}
.mainTab {
  margin: 0;
}
.fullBtn {
  position: absolute !important;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}
.full {
  position: absolute;
  width: 100%;
  height: 100%;
}
.noteBtn {
  position: absolute !important;
  right: 10px;
  bottom: 40px;
  z-index: 10;
}
.extBtn {
  svg {
    width: 15px;
    height: 15px;
    // margin-left: 15px;
    cursor: pointer;
    fill: var(--main-text-color);

    .on {
      fill: var(--primary-color);
    }
  }
}
