.container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.header {
  padding: 4px 0;
}

.content {
  // height: calc(100% - 100px);
  // overflow-y: scroll;
  background-color: var(--background-color);
  padding-bottom: 70px;
}