.topbar {
  padding-left: 8px;
}
.back {
  width: 20px;
  height: 20px;
  &:hover {
    background-color: var(--hover-color);
  }
}
.referUrl {
  color: var(--inner-text-color);
  font-size: calc(7rem / var(--base-font-size));
  border-bottom: 1px solid var(--main-border-color);
  padding: 4px;
}
.referText {
  color: var(--inner-text-color);
  font-size: calc(8rem / var(--base-font-size));
  padding: 4px;
}
.commentText {
  color: var(--main-text-color);
  font-size: calc(10rem / var(--base-font-size));
}
