.navbar {
  overflow-y: auto !important;
  position: 'fixed';
  left: 0;
  background-color: var(--nav-background-color) !important;
}
.rightbar {
  height: 100%;
  margin-bottom: 38px;
  background-color: var(--nav-background-color) !important;
}
.actBar {
  display: flex;
  background-color: var(--top-background-color);
  padding: 5px 0;
  button {
    color: var(--hint-color);
    border-right: 1px solid var(--nav-background-color);
    span {
      top: -1px !important;
      svg {
        fill: var(--hint-color);
      }
    }
    &:hover {
      color: var(--primary-color);
      span {
        svg {
          fill: var(--primary-color);
        }
      }
    }
  }
}
.act {
  cursor: pointer;
  text-align: center;
  margin-left: 8px;
  line-height: 25px;
  font-size: 15px;
  &:hover {
    color: var(--primary-color);
  }
}
.content {
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--top-background-color);
}
.stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-padding) 15px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background-color: var(--hover-color);
  }
}

.added {
  color: var(--cancel-text-color);
  background-color: var(--cancel-color);
  box-shadow: 0 2px 10px var(--cancel-color);
  cursor: not-allowed;
  white-space: nowrap;
}

.select {
  color: #eee;
  background-color: var(--primary-color);
  box-shadow: 0 2px 10px var(--primary-color);
  white-space: nowrap;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  padding-right: 10px;

  .nameText {
    margin-right: 10px;
  }
}

.tag {
  padding: 2px 3px;
  border-radius: 3px;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  font-size: calc(10rem / var(--base-font-size));

  white-space: nowrap;
}

.code {
  font-size: calc(10rem / var(--base-font-size));
}

.folderBtn {
  span {
    svg {
      fill: var(--main-text-color);
    }
  }
  &:hover {
    span {
      svg {
        fill: var(--primary-color);
      }
    }
  }
}
.category {
  color: var(--hint-color);
  background-color: var(--nav-background-color);
}
.categoryHeader {
  background-color: var(--top-background-color);
  padding: 3px 10px;
  display: flex;
  justify-content: space-between;
  button {
    color: var(--hint-color);
    border-right: 1px solid var(--nav-background-color);
    span {
      top: -1px !important;
      svg {
        fill: var(--hint-color);
      }
    }
    &:hover {
      color: var(--primary-color);
      span {
        svg {
          fill: var(--primary-color);
        }
      }
    }
  }
}
.mainTab {
  background-color: var(--nav-background-color);
}