.content {
  padding-left: 20px;
  background-color: var(--top-background-color);
  position: absolute;
  width: 210px;
  bottom: 0;
  z-index: 10;
  transform: translateY(0);
  box-sizing: border-box;
  margin-left: -10px;
}

.bar {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-size: 1rem;
  height: 100%;
  align-items: center;
  padding: 6px 2px;
}

.setting {
  margin-right: 16px;
  cursor: pointer;
}

.mode {
  text-align: right;
  font-size: 0.7rem;
  margin-right: 16px;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  padding: 2px 4px;
}

.sort {
  cursor: pointer;
  display: flex;
  justify-content: center;

  div {
    height: 12px;
  }

  svg {
    fill: var(--main-text-color);
  }

}
