.container {
  height: calc(100% - 50px);
  overflow-y: scroll;
  padding-top: 5px;
  background-color: var(--background-color);
}

.row {
  padding: 5px 10px;
  width: 100%;

  .title {
    line-height: 1.5em;
    color: var(--main-text-color);
    cursor: pointer;
    font-weight: 500;
  }

  .abstract {
    line-height: 1.5em;
    color: var(--secondary-text-color);
  }
}

.loadmore {
  padding: 5 10px;
  font-size: 12px;
  text-align: center;
  color: var(--textColor);
}