<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>My Quantization</title>
</head>
<script>
  var cts = [];
  window.addEventListener('scroll', (e) => {
    if (cts.length) {
      cts.forEach((t) => clearTimeout(t));
      cts = [];
    }
    if (e.target.classList.contains("on-scrollbar") === false) {
      e.target.classList.add("on-scrollbar");
    }
    cts.push(setTimeout(() => e.target.classList.remove("on-scrollbar"), 1000));
  }, true);
</script>

<body style="overflow: hidden;">
  <div id="root" style="height: 100%;"></div>
</body>

</html>